.eve-Card {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;

    min-height: fit-content;
    height: 200px;
    width: fit-content;
    padding: 24px;

    background-color: rgb(255, 255, 255);
    border: 1px solid gray;
    border-radius: 8px;
}

.containerEventos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    padding: 20px 20px;
    width: fit-content;
}

.eve-img-container {
    height: 180px;
    width: 180px;
}

.eve-imgEvento {
    height: 100%;
    width: auto;
}

.eve-info {
    height: 180px;
    width: 560px;
}

.eve-titulo {
    align-items: center;
    justify-content: center;
    padding-block-start: 5px;
    padding-block-end: 8px;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}

.eve-ponente {
    font-size: 14px;
    color: rgb(180, 180, 180);
    padding-inline: 12px;
}

.eve-descripcion {
    align-items: center;
    justify-content: center;
    margin-block-start: 8px;
    margin-block-end: 17px;
    padding-inline: 12px;

    text-align: start;
    font-size: 16px;
    font-weight: 300;
}

.eve-infoEv {
    font-size: 14px;
    color: rgb(92, 92, 92);
    text-align: end;
    margin-inline-end: 15px;
    margin-block-end: 5px;
}
