.containerEventos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    padding: 20px 0px;
    width: fit-content;
}

.eve-Card {
    display: flex;
    flex-direction: row;
    gap: 20px;

    height: fit-content;
    min-height: 200px;
    width: auto;
    padding: 24px;

    background-color: rgb(255, 255, 255);
    border: 1px solid gray;
    border-radius: 8px;
}

.eve-img-container {
    width: 350px;
    height: 100%;
    aspect-ratio: 2/3;

    & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.eve-Content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 12px;

    width: 100%;
}

.eve-imgEvento {
    width: fit-content;
    height: 100%;
}

.eve-info {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
    height: fit-content;
}

.eve-titulo {
    width: 100%;
    font-size: x-large;
    font-weight: 700;
}

.eve-ponente {
    width: 100%;

    font-size: 14px;
    color: rgb(180, 180, 180);
}

.eve-descripcion {
    align-items: center;
    justify-content: center;

    text-align: start;
    font-size: 16px;
    font-weight: 300;
}

.eve-infoEv {
    font-size: 14px;
    color: rgb(92, 92, 92);
    text-align: end;
}
