* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

header {
    height: 110px;
    display: block;
    border-radius: 0px 0px 20px 20px;
    background: #140a53;
    /* box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
} */
}

.cLogoUG {
    height: 50px;
    padding-block: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logoUG {
    width: auto;
    max-height: 100%;
    padding-inline: 2px;
}

.UdG {
    width: auto;
    max-height: 90%;
    padding-inline: 2px;
}

.menu {
    display: flex;
    height: 36px;
    flex-direction: row;
    align-items: center;
    padding-inline-start: 40px;
}

.menuButton {
    background-color: transparent;
    color: white;
    margin-inline: 9px;
    border: none;
    font-size: 14px;
}

.menuAdm {
    width: 85%;
    display: flex;
    flex-direction: row-reverse;
    padding-inline-end: 35px;
}
