.btnMisEventos {
    background-color: transparent;
    border: none;
    margin-inline-end: 30px;
    color: rgb(2, 2, 147);
    font-size: 15px;
    cursor: pointer;
}

.btnMisEventos:hover {
    font-weight: bold;
}

.dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    width: fit-content;
    height: fit-content;
    font-family: sans-serif;
    border: none;
}

#btnCerrarLogin {
    position: absolute;
    margin: 10px 0 20px 76%;
    display: flex;
    padding: 15px;
    width: 15px;
    height: 15px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: none;
    background-color: rgb(2, 2, 147);
    color: white;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

#btnCerrarLogin:hover {
    font-weight: bold;
}

.dialog h1 {
    min-width: 350px;
    width: 100%;
    text-align: center;
    padding: 15px 0 10px 0;
    border-bottom: 1px solid silver;
}

.dialog form {
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding: 10px 50px;
    gap: 12px;
    box-sizing: border-box;
}

.fieldsContainer {
    display: flex;
    flex-direction: column;
    padding-top: 8px;
    gap: 8px;
}

.buttonsContainer {
    display: flex;
    flex-direction: column;
    padding-bottom: 16px;
    gap: 4px;
}

.textfieldInput {
    display: flex;
    align-items: center;
    width: 100%;
    height: fit-content;
    padding: 12px 10px;
    border: 1px solid silver;
    border-radius: 10px;
    font-size: 16px;
    box-sizing: border-box;
}

.btnEnter {
    padding: 12px 20px;
    width: 100%;
    height: fit-content;
    border-radius: 10px;
    background-color: darkblue;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.enter {
    top: 15px;
    border-bottom: 1px solid silver;
}

.btnEnter:hover {
    background-color: #2874a6;
}

.btnRegistro {
    padding: 12px 20px;
    width: 100%;
    height: fit-content;
    border-radius: 10px;
    background-color: green;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s ease 0s;
}

.btnRegistro:hover {
    background-color: #229954;
    font-weight: bold;
}

.name {
    margin-top: 15px;
}
