.containerPuestos{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: top;
    justify-content: space-around;
    row-gap: 80px;
    /* column-gap: 30px; */
    margin-block-start: 50px; 
}

.ven-slides{  
    margin-block-start: 15px;
    width: 95%;
    height: 330px;
    background: #140097;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 9px;
    border: 3px solid rgb(181, 145, 0);
    animation: slideAnimation 18s;
}

.ven-slide {
    display: none;
    width: 100%;
    overflow: hidden;
}

.ven-slide-img {
    width: 100%;
    height: auto;
}

@keyframes suno {
    from{
        opacity: 0.9;
    }

    to{
        opacity: 0;
    }
}

@keyframes sdos {
    from{
        opacity: 0;
    }

    to{
        opacity: 0.9;
    }
}

.ven-card{
    margin-inline: 1%;

    padding-block-start: 6px;
    padding-block-end: 16px;
    height: min-content;

    flex-grow: 1;
    max-width: 234px;
    min-width: 200px;

    display: flex;
    flex-direction: column;
    align-items: center;
    
    background-color: rgb(187, 247, 255);
    border-radius: 4px;
    box-shadow: 2px 2px 6px rgba(47, 114, 136, 0.444);
}


.ven-img-pcontainer {
    height: 180px;
    width: 180px;
    overflow: hidden;
    background-color: rgb(237, 237, 237);
}

.ven-imgPuesto {
    height: 100%;
    width: auto;
    position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ven-nombrePuesto{
    font-size: 19px;
    font-weight: 600;
    margin-block-start: 10px;
    margin-inline: 10px;
}

.ven-productosContainer{
    margin-block: 5px;
    width: 80%;
}

.ven-producto-precio{
    font-size: 14px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}



.row{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: end;
    margin-inline-end: 35px;
    margin-block-start: 5px;
    color: gray;
    align-items: center;
}

.ven-btnVerMas{
    margin-inline-start: 8px;
    border: none;
    width: 18px;
    height: 18px;
    background-color: rgba(245, 245, 245, 0.279);
    border-radius: 100%;
    border: 1px solid rgb(0, 64, 255);
    color: rgb(0, 64, 255);;
    text-align: center;
}

.invitacion{
    margin-block-start: 15px;
    width: 100%;
    height: 330px;
    background-color: blue;
}

