.containerPuestos {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: top;
    justify-content: space-around;
    row-gap: 30px;
    column-gap: 30px;
    margin-block-start: 50px;
}

.ven-slides {
    width: 100%;
    height: 330px;
    background: #7564e1;

    border-radius: 8px;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    animation: slideAnimation 18s;
}

.ven-slide {
    display: none;
    width: 100%;
    overflow: hidden;
}

.ven-slide img {
    max-width: 4000px;
    width: 100%;
}

.ven-slide-img {
    width: 100%;
    height: auto;
}

@keyframes suno {
    from {
        opacity: 0.9;
    }

    to {
        opacity: 0;
    }
}

@keyframes sdos {
    from {
        opacity: 0;
    }

    to {
        opacity: 0.9;
    }
}

.ven-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: min-content;
    max-width: 25%;
    min-width: 245px;
    padding: 16px 0px;

    background-color: rgb(238, 253, 255);
    border: 1px solid gray;
    border-radius: 8px;

    flex-grow: 1;
}

.ven-img-pcontainer {
    display: flex;
    justify-content: center;
    height: 200px;
    width: 235px;
}

.ven-imgPuesto {
    height: 100%;
    width: auto;
}

.ven-nombrePuesto {
    font-size: 19px;
    font-weight: 600;
    margin-block-start: 10px;
    margin-inline: 10px;
}

.ven-productosContainer {
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding: 4px 0px;
    width: 80%;
}

.ven-producto-precio {
    font-size: 14px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: 80%;
    color: gray;
    align-items: center;
}

.ven-btnVerMas {
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: fit-content;
    padding: 4px 8px;
    margin-top: 4px;
    color: gray;
    align-items: center;
    background-color: rgba(168, 177, 229, 0.279);
    border-radius: 8px;
    border: 1px solid black;
    color: black;
    text-align: center;
    transition: 0.1s ease-in-out all;
}

.ven-btnVerMas:hover {
    background-color: rgba(153, 161, 209, 0.479);
    cursor: pointer;
}

.invitacion {
    margin-block-start: 15px;
    width: 100%;
    height: 330px;
    background-color: blue;
}
