.containerPuestos {
    width: 100%;
    min-height: 600px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 30px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: top;
    justify-content: space-around;
    margin-block-start: 50px;
}

.buttonActionsContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
    width: 100%;
}

.btnVentasAgregar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 10px 20px;
    border-radius: 8px;
    background-color: rgba(30, 162, 28, 0.5);
    border: 2px solid rgb(30, 162, 28);
    color: white;
    font-size: 16px;
    font-weight: 600;
    transition: 0.1s ease-in-out all;

    & svg {
        max-width: 16px;
        max-height: 16px;
        padding-bottom: 3px;
    }

    &:hover {
        background-color: rgb(30, 162, 28, 0.7);
        cursor: pointer;
    }
}

.btnVentasEliminar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 10px 20px;
    border-radius: 8px;
    background-color: rgb(255, 0, 0, 0.5);
    border: 2px solid rgb(255, 0, 0);
    color: white;
    font-size: 16px;
    font-weight: 600;
    transition: 0.1s ease-in-out all;

    & svg {
        padding-bottom: 3px;
    }

    &:hover {
        background-color: rgb(255, 0, 0, 0.7);
        cursor: pointer;
    }
}

.btnVentasEditar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 10px 20px;
    border-radius: 8px;
    background-color: rgb(113, 113, 113, 0.5);
    border: 2px solid rgba(113, 113, 113);
    color: white;
    font-size: 16px;
    font-weight: 600;
    transition: 0.1s ease-in-out all;

    & svg {
        padding-bottom: 3px;
    }

    &:hover {
        background-color: rgb(113, 113, 113, 0.7);
        cursor: pointer;
    }
}

.ven-slides {
    width: 100%;
    height: 330px;
    background: #140097;

    border-radius: 8px;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 9px;
    border: 1px solid black;
    animation: slideAnimation 18s;
}

.ven-slide {
    display: none;
    width: 100%;
    overflow: hidden;
}

.ven-slide img {
    max-width: 4000px;
    width: 100%;
}

.ven-slide-img {
    width: 100%;
    height: auto;
}

@keyframes suno {
    from {
        opacity: 0.9;
    }

    to {
        opacity: 0;
    }
}

@keyframes sdos {
    from {
        opacity: 0;
    }

    to {
        opacity: 0.9;
    }
}

.ven-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: min-content;
    width: 100%;
    min-width: fit-content;
    padding: 16px 0px;

    background-color: rgb(255, 255, 255);
    border: 1px solid gray;
    border-radius: 8px;

    flex-grow: 1;
}

.ven-img-pcontainer {
    height: 180px;
    width: 180px;
    overflow: hidden;
    background-color: rgb(237, 237, 237);


.ven-imgPuesto {
    height: 100%;
    width: auto;
    position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ven-nombrePuesto {
    font-size: 19px;
    font-weight: 600;
    margin: 8px;
}

.ven-productosContainer {
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding: 8px 0px;
    width: 80%;
}

.ven-producto-precio {
    font-size: 14px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: 80%;
    color: gray;
    align-items: center;
}

.ven-btnVerMas {
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: fit-content;
    padding: 4px 8px;
    margin-top: 8px;
    color: gray;
    align-items: center;
    background-color: rgba(168, 177, 229, 0.279);
    border-radius: 8px;
    border: 1px solid black;
    color: black;
    text-align: center;
    transition: 0.1s ease-in-out all;
}

.ven-btnVerMas:hover {
    background-color: rgba(153, 161, 209, 0.479);
    cursor: pointer;
}

.invitacion {
    margin-block-start: 15px;
    width: 100%;
    height: 330px;
    background-color: blue;
}
